@model AdvanceWeb.Models.Student
@*@model IEnumerable<DemoConnectDB.Models.Student>*@
    <h1 class="text-center">DETAIL</h1>
<div class="row">
  <div class="col-md-12">
  
      <div class="form-group">
        <label asp-for="stuid" class="control-label">Student ID:</label>
        <input asp-for="stuid" id="stuid" class="form-control" disabled/>
      </div>
	  <br />
      <div class="form-group">
        <label asp-for="stuname" class="control-label">Student Name:</label>
        <input asp-for="stuname" class="form-control" disabled/>
      </div>
	  <br />
      <div class="form-group">
        <label asp-for="stulastname" class="control-label">Last Name:</label>
        <input asp-for="stulastname" class="form-control" disabled/>
      </div>
	  <br />
      <div class="form-group">
        <label asp-for="stuaddress" class="control-label">Address:</label>
        <input asp-for="stuaddress" class="form-control" disabled/>
      </div>
	  <br />
      <div class="form-group">
        <label asp-for="stuphone" class="control-label">Phone:</label>
        <input asp-for="stuphone" class="form-control" disabled/>
      </div>
	  <br />
      <div class="form-group">
        <label asp-for="GPA" class="control-label">GPA:</label>
        <input asp-for="GPA" class="form-control" disabled/>
      </div>
	  <br />
      <div class="form-group">
        <img src="@("~/images/"+Model.stuimg)" class="rounded" style="width: 100%" asp-append-version="true"/>
      </div>
	  <br />
      <table class="table table-hover" >
	    <thead class="table-dark">
		    <td>
                @Html.DisplayNameFor(m=>m.stuid)
            </td>
            <td>
                @Html.DisplayNameFor(m=>m.stuname)
            </td>
            <td>
                @Html.DisplayNameFor(m=>m.stulastname)
            </td>
            <td>
                @Html.DisplayNameFor(m=>m.stuaddress)
            </td>
            <td>
                @Html.DisplayNameFor(m=>m.stuphone)
            </td>*@
            <th>
                GPA
            </th>
		    <th>
		    </th>
        </tr>
	</thead>

	<tbody>
		@*@foreach(var item in Model)
		{
			<tr>
            <td>
               @Html.DisplayFor(m=>item.stuid)
            </td>
            <td>
                @Html.DisplayFor(m=>item.stuname)
            </td>
            <td>
                @Html.DisplayFor(m=>item.stulastname)
            </td>
            <td>
                @Html.DisplayFor(m=>item.stuaddress)
            </td>
            <td>
                @Html.DisplayFor(m=>item.stuphone)
            </td>
            <td>
                @Html.DisplayFor(m=>item.GPA)
            </td>
            <td>
                <a href="@Url.Action("Detail","Student",new{id=item.id})" class="btn btn-secondary">
                    <i class="bi bi-list"></i>          
                </a>
                | @Html.ActionLink("Edit","Edit",new{id=item.ID}) |
                @Html.ActionLink("Delete","Delete",new{id=item.ID},new{onclick="return confirm ('Are sure wants to Delete?')"})
            </td>
        </tr>
			
		}*@
	</tbody>
</table>
    @*  <div class="form-group">
        <label asp-for="ScoreMidTerm" class="control-label">Score MidTerm:</label>
        <input asp-for="ScoreMidTerm" class="form-control" disabled/>
      </div>
      <br />
      <div class="form-group">
        <label asp-for="ScoreFinal" class="control-label">Score Final:</label>
        <input asp-for="ScoreFinal" class="form-control" disabled/>
      </div>
      <br />
      <div class="form-group">
		<label asp-for="ImageName">Image Name:</label>
		<input asp-for="ImageName" class="form-control" disabled/>
      </div>
	  <br />
      *@
      <div class="form-group">
          <div class="row">
			  <div class="d-flex justify-content-center">
				@*<img src="@("~/images/"+Model.ImageName)" class="rounded" width="50%"  margin: auto asp-append-version="true"/>*@
                @Html.ActionLink("Edit","Edit",new{id=Model.id}) |
                @Html.ActionLink("Delete","Delete",new{id=Model.id},new{onclick="return confirm ('Are sure wants to Delete?')"})
			  </div>
			  <div class="d-flex justify-content-end align-items-end">
				@Html.ActionLink("< Back to Home","Index")
			  </div>
		  </div>
		
      </div>
      
  </div>
</div>