@model IEnumerable<AdvanceWeb.Models.Subjectss>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Subjects</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Create New</a>
</p>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                ID
            </th>
            <th>
                SubjectID
            </th>
            <th>
                Subject Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subname)

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
